
<div class="container">

<div class="row">
	<div class="col-sm-8 col-md-offset-1">
		<h1>Menu</h1>
	</div>
</div>


<div class="row">
	<div class="col-sm-8 col-md-offset-1">

<!-- Appetizers -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Appetizers</h3>
  </div>
  <div class="panel-body">
    
<div class="list-group">

	<% @appitems.each do |item| %>
	<a href="#" class="list-group-item">
	<div class="row">

	
	<div class="col-md-3">
		<h5><%= item['name'] %></h5>
	</div>

	<div class="col-md-7">
		<h5><small><%= item['description'] %></small></h5> 
	</div>

	<div class="col-md-2 text-right">
		<h5>$<%= sprintf('%.2f', item['price']) %></h5>
	</div>
	
   </div>
	</a>
	<% end %>

</div>

  </div>
</div>


<!-- Mains -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mains</h3>
  </div>
  <div class="panel-body">
    
<div class="list-group">

	<% @mainitems.each do |item| %>
	<a href="#" class="list-group-item">
	<div class="row">

	
	<div class="col-md-3">
		<h5><%= item['name'] %></h5>
	</div>

	<div class="col-md-7">
		<h5><small><%= item['description'] %></small></h5> 
	</div>

	<div class="col-md-2 text-right">
		<h5>$<%= sprintf('%.2f', item['price']) %></h5>
	</div>
	
   </div>
	</a>
	<% end %>

</div>

  </div>
</div>

<!-- Beverages -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Beverages</h3>
  </div>
  <div class="panel-body">
    
<div class="list-group">

	<% @bevitems.each do |item| %>
	<a href="#" class="list-group-item">
	<div class="row">

	
	<div class="col-md-3">
		<h5><%= item['name'] %></h5>
	</div>

	<div class="col-md-7">
		<h5><small><%= item['description'] %></small></h5> 
	</div>

	<div class="col-md-2 text-right">
		<h5>$<%= sprintf('%.2f', item['price']) %></h5>
	</div>
	
   </div>
	</a>
	<% end %>

</div>

  </div>
</div>



	</div>
</div>


</div>


<script>
	$("#addDo").validate();
</script>

