<div class="container">

<div class="row">
  <div class="col-md-67">
	<h3 class="frontpage"><small><a href="/"><span class="glyphicon glyphicon-chevron-left"><span class="glyphicon glyphicon-home"></span></span></a></small> Hungry-natra</h3>
    <h1>Thank You</h1>
  </div>
</div>

<div class="row">

    <div class="col-sm-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Your order is on its way!!</h3>
        </div>
        <div class="panel-body">
			<p>Thanks, <%= @user_complete[0] %></p>

			<p>Your order will be sent to:</p>

			<p> <%= @user_complete[1] %><br>
				<% unless @user_complete[2].empty? %>
					<%= @user_complete[2] %><br>
				<% end %>
				<%= @user_complete[3] %>, <%= @user_complete[4] %> 	<%= @user_complete[5] %><br>
			</p>

        </div>
	    </div>
	</div>
</div>

</div>